html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-weight: 400;
    font-family: 'Roboto-Regular',sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #546e7a;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #546e7a;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    &:focus{
        outline: none;
    }
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid{
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 720px){
    .container-fluid{
        padding: 0 15px;
        
    }
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 30px;
    color: #263238;
}

.rate-star{
    display: inline-block;
    margin-right: 14px;
}