.product{
    padding: 110px 0;
    background-color: $bgcolor;
   &__inner{
       &-btn{
           text-align: center;
           margin-bottom: 60px;
           button{
               padding: 12px 21px;
               background-color: #fff;
               border: none;
               color: $bg;
               cursor: pointer;
               & + button{
                   margin-left: 5px;
               }
               &.mixitup-control-active{
                   background-color: $red;
                   color: #fff;
               }
           }
         
           
       }
        &-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }   
       
   }
   &__item{
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(132, 134, 136, 0.75);
    margin-bottom: 30px;
    &-img{
     min-height: 250px;
     display: block;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
        }

        &-content{
            display: flex;
            justify-content: space-between;
            padding: 10px 30px;
            align-items: center;
            min-height: 90px;
            border-bottom: 1px solid rgb(132, 134, 136);
        }
        &-name{
            max-width: 310px;
        }
        &-title{
            font-size: 18px;
            color: $bg;
            font-weight: 500;
        }
        &-category{
            display: block;
            color: $green;
            font-weight: 500;
            font-size: 14px;
        }
        &-price{
            font-weight: 700;
            color: $bg;
            font-size: 20px;

        }
        &-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
        }
        &-star{
            color: #b0bec5;
            span{
                font-size: 12px;
                color: $bg;
            }
        }
        &-author{
            display: flex;
            align-items: center;
            max-width: 245px;
            font-size: 14px;
            font-weight: 500;
            .avatar{
                width: 30px;
                height: 30px;
                border-radius:50%;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin-right: 14px;
            }
            span{
                
                font-weight: 500;
                color: $text;
            }
           
        }    
    }
    &__bottom-btn{
        text-align: center;
        margin-top: 50px;
        button{
            margin: 0 5px;
            padding: 18px 32px;
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
            border: none;
            font-size: 16px;
            color: $bg;
            cursor: pointer;
            &.mixitup-control-active{
                background-color: $red;
                color: #fff;
            }
        }
        
    }
   
}
button .mixitup-control-active{
    background-color: #e74c3c;
}
  

// background-color: #e74c3c;




  